# Import the Packges

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import roc_auc_score, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import seaborn as sns

# Loading the Dataset and Data Cleaning

In [8]:
df = pd.read_csv('Data.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010826 entries, 0 to 1010825
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   label           1010826 non-null  int64
 1   comment         1010773 non-null  object
 2   author          1010826 non-null  object
 3   subreddit       1010826 non-null  object
 4   score           1010826 non-null  int64
 5   ups             1010826 non-null  int64
 6   downs           1010826 non-null  int64
 7   date            1010826 non-null  object
 8   created_utc     1010826 non-null  object
 9   parent_comment  1010826 non-null  object
dtypes: int64(4), object(6)
memory usage: 77.1+ MB

In [10]:
df.describe()

           label         score           ups         downs
count  1010826.0  1.010826e+06  1.010826e+06  1.010826e+06
mean         0.5  6.885676e+00  5.498885e+00 -1.458629e-01
std          0.5  4.834288e+01  4.127297e+01  3.529689e-01
min          0.0 -5.070000e+02 -5.070000e+02 -1.000000e+00
25%          0.0  1.000000e+00  0.000000e+00  0.000000e+00
50%          0.5  2.000000e+00  1.000000e+00  0.000000e+00
75%          1.0  4.000000e+00  3.000000e+00  0.000000e+00
max          1.0  9.070000e+03  5.163000e+03  0.000000e+00

In [11]:
df.head()

,label,comment,author,subreddit,score,ups,downs,date,created_utc,parent_comment
0,0,NC and NH.,Trumpbart,politics,2,-1,-1,2016-10,2016-10-16 23:55:23,"Yeah, I get that argument. At this point, I'd ..."
1,0,You do know west teams play against west teams...,Shbshb906,nba,-4,-1,-1,2016-11,2016-11-01 00:24:10,The blazers and Mavericks (The wests 5 and 6 s...
2,0,"They were underdogs earlier today, but since G...",Creepeth,nfl,3,3,0,2016-09,2016-09-22 21:45:37,They're favored to win.
3,0,"This meme isn't funny none of the ""new york ni...",icebrotha,BlackPeopleTwitter,-8,-1,-1,2016-10,2016-10-18 21:03:47,deadass don't kill my buzz
4,0,I could use one of those tools.,cush2push,MaddenUltimateTeam,6,-1,-1,2016-12,2016-12-30 17:00:13,Yep can confirm I saw the tool they use for th...

In [12]:
df.isna().sum()

label              0
comment           53
author             0
subreddit          0
score              0
ups                0
downs              0
date               0
created_utc        0
parent_comment     0
dtype: int64

In [13]:
# Removing the null comments
df.dropna(subset=['comment'], inplace=True)

In [14]:
df.created_utc = pd.to_datetime(df.created_utc)

In [15]:
df.drop(['date','author','parent_comment'], axis=1, inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1010773 entries, 0 to 1010825
Data columns (total 7 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   label        1010773 non-null  int64
 1   comment      1010773 non-null  object
 2   subreddit    1010773 non-null  object
 3   score        1010773 non-null  int64
 4   ups          1010773 non-null  int64
 5   downs        1010773 non-null  int64
 6   created_utc  1010773 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 61.7+ MB

In [17]:
df.label.value_counts()

0    505405
1    505368
Name: label, dtype: int64

# Visualization

In [ ]:
sns.countplot(x='label',  data= df)

In [ ]:
plt.figure(figsize=(10,5))
df['day']=df['created_utc'].dt.day_name()

sns.countplot(x=df.day,  data= df.label==1 )

# Model

In [ ]:
logit = LogisticRegression(random_state= 42)

vectorizer = TfidfVectorizer(use_idf=True, lowercase=True)
X_tf_idf= vectorizer.fit_transform(df['comment'])
x_train, x_test, y_train, y_test = train_test_split(X_tf_idf, df['label'], random_state=42)

logit.fit(x_train, y_train)

In [ ]:
predicted_class=logit.predict(x_test)
predicted_class_train=logit.predict(x_train)
test_probs = logit.predict_proba(x_test)
test_probs = test_probs[:, 1]
yhat = logit.predict(x_test)
train_accuracy = accuracy_score(y_train,predicted_class_train)
test_accuracy = accuracy_score(y_test,predicted_class)
print("Train accuracy score: ", train_accuracy)
print("Test accuracy score: ",test_accuracy )

# Still In Progress